html {
    font-size: 10px;
    color: white;
}


body {
   
    background-color: #121212;
}

header {
    width: 100%;
    font-size: 2rem;
    
}

img {
    width: 25%;
}

.menu ul {
    background-color: #323232;
    display: flex;
    justify-content: start;
    padding: 2rem;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    padding: 2rem;
}

@media only screen and (max-width: 640px) {
    .menu ul {
        background-color: #323232;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .menu ul li {
        text-decoration: none;
        color: white;
        padding: 1rem;
    }

    #gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    img {
        width: 90%;
        margin: 1%;
    }
    
}

#banner {
    display: flex;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 12% 0;
    
}

#banner h1 {
    padding: 3.5rem;
    width: 100%;
    background-color: #53354a;
}

h2 {
    font-size: 2.5rem;
    color: #e84545;
    padding: 1rem;
}

p {
    font-size: 1.8rem;
    padding: 1rem;
    line-height: 1.5;
}


#message {
    padding: 3rem;
}



#gallery {
    display: flex;
    justify-content: space-evenly;
    margin: 2%;
}

#quote {
    background-color: #53354a;
    padding: 4rem;
    font-size: 2rem;
}

blockquote {
    padding: 0 50px; 
    margin-left: 0;  
    border-left: 2px solid gray;
}

blockquote p {
    font-size: 5rem;
}

figcaption {
    padding: 1rem;
}